# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
dist-ssr/
*.local

# Vercel
.vercel

# Environment
.env
.env.*
!.env.example

# Sensitive keys
*.json
!package.json
!tsconfig.json
!package-lock.json
!vercel.json

# IDEs
.vscode/
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
